{% extends 'shared/_base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block theme %}{{ theme }}{% endblock %}

{% block header %}
    {% with use_header=False %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <p class="mb-4 px-3" dir="rtl">
                Use these commands
                <span dir="ltr" style="font-family: monospace;">/setusername</span>
                and
                <span dir="ltr" style="font-family: monospace;">/setpassword</span>
                for setting username and password.
            </p>
            <a class="login-btn" href="{% url 'login-page' %}">Enter Settings</a>
        </div>
    </div>
{% endblock %}