Setting tag list text using special keywords.
<br>
<br>
<br>
Keywords list:
<br>
<br>
<span class="float-end" dir="ltr"
      style="font-family: monospace">{MENTION()}</span>
User mention tags by text inside parentheses
<br>
<span class="float-end" dir="ltr"
      style="font-family: monospace">{FIRSTNAME}</span>
User's first name
<br>
<span class="float-end" dir="ltr"
      style="font-family: monospace">{LASTNAME}</span>
User's last name (will be empty if user had no last name)
<br>
<span class="float-end" dir="ltr"
      style="font-family: monospace">{USERNAME}</span>
User's username (will be empty if user had no username)
<br>
<span class="float-end" dir="ltr" style="font-family: monospace">{USERID}</span>
User's ID
<br>
<span class="float-end" dir="ltr"
      style="font-family: monospace">{GAMEURL()}</span>
Join game link (only if auto tag is enabled)
<br>
<br>
<br>
Decoration keywords
<br>
<br>
<span class="float-end" dir="ltr" style="font-family: monospace">**  **</span>
For bold text (Example: **Hello** &ensp; &larr; &ensp;<strong>Hello</strong>)
<br>
<span class="float-end" dir="ltr" style="font-family: monospace">__  __</span>
For italic text (Example: __Hello__ &ensp; &larr; &ensp;<em>Hello</em>)
<br>
<span class="float-end" dir="ltr" style="font-family: monospace">--  --</span>
For underline (Example: --Hello--&ensp; &larr; &ensp;<u>Hello</u>)
<br>
<span class="float-end" dir="ltr" style="font-family: monospace">~~  ~~</span>
For strikethrough (Example: ~~Hello~~&ensp; &larr; &ensp;<span
        style="text-decoration: line-through;">Hello</span>)
<br>
<span class="float-end" dir="ltr" style="font-family: monospace">`  `</span>
For sending text as code
<br>
<span class="float-end" dir="ltr" style="font-family: monospace">```  ```</span>
For sending text as code (multi line codes)
<br>
<span class="float-end" dir="ltr" style="font-family: monospace">||  ||</span>
For sending spoiler texts